body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:hsl(240, 100%, 95%);
}
nav {
    background-color: #1E3A8A;
}
.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.container-nav span{
    color: #f71f1f;
}
.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.logo a{
    color: #ddd;
    text-decoration: none;
}
.menu-toggle {
    display: none;
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;

}
.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 16px;
    align-items: center;
}
.nav-links li {
    display: inline;
}
.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px;
    display: block;
}
.nav-links a:hover {
    background-color: hsl(226, 71%, 70%);
    transition: all .5s;
}

#loginForm{
    border: 1px solid hsl(0, 6%, 75%);
    text-align: start;
    padding: 20px;
    max-width: 300px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 5px;
    background-color: hsl(208, 70%, 97%);
    display: flex;
    justify-content: center;
    margin: 50px auto;
}
input[type=text]{
    padding: 10px;
    outline: none;
    background-color: hsl(208, 10%, 95%);
    border: 1px solid hsl(0, 0%, 80%);
    font-size: 15px;
}
input[type=password]{
    padding: 10px;
    outline: none;
    background-color: hsl(208, 10%, 95%);
    border: 1px solid hsl(0, 0%, 80%);
    font-size: 15px;
}
#submitbtn{
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: hsl(200, 100%, 50%);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}
#submitbtn:hover{
    background-color: transparent;
    border: 1px solid #000;
    transition: .5s;
    color: #000;

}

#loginForm h1{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: -10px;
    color: rgb(70, 70, 230);
}
#loginForm span{
    color: red;
}
.remember-div{
    display: flex;
    align-items: center;
}
.remember-div label{
    font-size: 13px;
}
h4{
    text-align: center;
}
h4 a{
    text-decoration: none;
    font-size: 10px;
    text-align: center;
    color: red;
}
h4 a:hover{
    text-decoration: underline;
}
footer {
    background: hsl(0, 0%, 70%);
    color: gray;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
footer a{
    text-decoration: none;
    color: #ddd;
}

@media (max-width: 820px) {
    .nav-links {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 16px;
        margin-right: 40px;
        align-items: center;
    }
    .logo {
        margin: 5px;
    }
}
@media (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: hsl(224, 56%, 71%);
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        margin-top: -10px;
        border: none;
    }
    .nav-links:hover a{
        transition:all .5s;
    }
    .nav-links.active {
        display: flex;
    }
    .menu-toggle {
        display: block;
    }
}
@media (max-width: 1024px) {
    .nav-links {
        margin-right: 40px;
    }
    .logo {
        margin: 5px;
    }
}
@media (max-width: 1220px) {
    .nav-links {
        margin-right: 40px;
    }
    .logo {
        margin: 5px;
    }
    
}

